<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <display-name>template</display-name>
            <url-pattern>/join.jsp</url-pattern>
            <url-pattern>/contact.jsp</url-pattern>
            <url-pattern>/home.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/about.jsp</url-pattern>
            <url-pattern>/details.jsp</url-pattern>
            <url-pattern>/order.jsp</url-pattern>
            <url-pattern>/shoes.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>template for admin panel</description>
            <display-name>admin_template</display-name>
            <url-pattern>/admin/create.jsp</url-pattern>
            <url-pattern>/admin/createUser.jsp</url-pattern>
            <url-pattern>/admin/messages.jsp</url-pattern>
            <url-pattern>/admin/orders.jsp</url-pattern>
            <url-pattern>/admin/club.jsp</url-pattern>
            <url-pattern>/admin/users.jsp</url-pattern>
            <url-pattern>/admin/login.jsp</url-pattern>
            <url-pattern>/admin/index.jsp</url-pattern>
            <url-pattern>/admin/changeUser.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/header_admin.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer_admin.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
