/LearnJava/HelloWorld/nbproject/private/
/LearnJava/HelloWorld/build/
/LearnJava/HelloWorld/dist/
/JPTVR18_shoeStore/JPTVR18_shoeShop/nbproject/private/
/JPTVR18_shoeStore/JPTVR18_shoeShop/build/
/JPTVR18_shoeStore/JPTVR18_shoeShop/dist/
/JPTVR18_shoeStore/JPTVR18_shoeStore_nb8/nbproject/private/
/JPTVR18_shoeStore/JPTVR18_shoeStore_nb8/build/
/JPTVR18_shoeStore/JPTVR18_shoeStore_nb8/dist/
/JPTVR18_shoeStore/JPTVR18_shoeStore/nbproject/private/
/JPTVR18_shoeStore/JPTVR18_shoeStore/build/
/JPTVR18_shoeStore/JPTVR18_shoeStore/dist/