/JPTVR18lesson2/nbproject/private/
/test/nbproject/private/
/HomeLessons/nbproject/private/
/HomeLessons/build/
/HomeLessons/dist/
/JPTVR18lesson3/nbproject/private/
/JPTVR18lesson3/JavaApplication2/nbproject/private/
/JPTVR18Kintroll/JPTVR18Kintroll/nbproject/private/
/JPTVR18Kintroll/JPTVR18Kintroll/dist/
/JPTVR18Kintroll/JPTVR18Kintroll/build/
/JPTVR18Library/JPTVR18Library/nbproject/private/
/JPTVR18Library/JPTVR18Library/build/
/JPTVR18Library/JPTVR18Library/dist/
/JavaCMD/nbproject/private/
/JavaCMD/build/
/JavaCMD/dist/
/JPTVR18Library2/nbproject/private/
/JPTVR18Library2/build/
/JPTVR18Library2/dist/